.search-container {
    flex: 0 0 80%; /* zauzima 80% sirine roditelja */
}

.menu-container {
    flex: 0 0 20%; /* zauzima 20% sirine roditelja */
}

@media (max-width: 992px) {
    .search-container, .menu-container {
        flex: 0 0 100%; /* Na srednje i manje uredjaje oba zauzimaju punu sirinu */
    }

    .menu-container {
        order: -1; /* Stavlja dropdown iznad pretrage na manjim uredjajima */
    }
}

/* Dodajte dodatne stilove za podesavanje polozaja dropdown-a i formata pretrage kako zelite */
.dropdown-menu {
    text-align: center;
    height: 400px; 
    width: calc(92% + 17px); /* 17px je prosecna sirina skrol bara */
    overflow-y: auto;
}
#myBtn {
    width: 50%;
    margin-top: 20px;
}
#searchResult {
    text-align: center;
    padding-right: 250px;

}
.movies img {
    width: 500px;
    height: 600px;

}
